ingredients-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  ingredients-form > input{
    height:1 rem;
    width:2 rem;
    margin-right: 150px;
    background-color: black;
  }